@charset 'utf-8';

a{
    text-decoration-line: none;
    color: black;
}


html{
    font-size: 20px;
}

.main_title{
    border-top: 2px solid rgb(187, 187, 187);
    border-bottom: 2px solid rgb(187, 187, 187);
    padding-top : 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.main_contents{
    display: grid;
    grid-template-columns: 180px 1fr;
}

.local_nav{
    border-right: 2px solid rgb(187, 187, 187);
    padding-left: 20px;
}

.local_input{
    padding-left: 30px;
    margin: 30px;
}

.local_table{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 15px;
}

[type=text]{
    padding: 8px; margin: 0px;
}